/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== xulscrollbars.css ==============================================
  == Styles used by XUL scrollbar-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for HTML elements */

/* ::::: scrollbar ::::: */

scrollbar {
  -moz-appearance: none;
  -moz-binding: url("chrome://global/content/bindings/scrollbar.xml#scrollbar");
  cursor: default;
  background-color: #F0F0F0;
}

@media all and (-moz-overlay-scrollbars) {
  scrollbar[root="true"] {
    position: relative;
    z-index: 2147483647; /* largest positive value of a signed 32-bit integer */
  }

  scrollbar:not([active="true"]),
  scrollbar[disabled="true"] {
    visibility: hidden;
  }
}

scrollbar[orient="vertical"] {
   -moz-appearance: none;
}

/* ::::: borders for thumb and buttons ::::: */

thumb,
scrollbarbutton {
  border: 1px solid;
  border-color: #ECECEC #6A6A6A #6A6A6A #ECECEC;
  background: #CCCCDD center no-repeat;
}

/* ::::: slider - a thumb is inside  ::::: */

slider[orient="vertical"] {
  -moz-appearance: none;
  min-width: 16px;
}

slider[orient="horizontal"] {
  -moz-appearance: none;
  min-height: 16px;
}

/* ::::: thumb (vertical) ::::: */

thumb {
  -moz-appearance: none;
  min-height: 16px;
  background-image: url("chrome://global/skin/scrollbar/scroll-thumb-vert.gif");
}

thumb:hover:not([disabled="true"]) {
  background-image: url("chrome://global/skin/scrollbar/scroll-thumb-vert-hover.gif");
}

thumb[disabled="true"] {
  background-image: url("chrome://global/skin/scrollbar/scroll-thumb-vert-disabled.gif");
}

/* ::::: thumb (horizontal) ::::: */

thumb[orient="horizontal"] {
  -moz-appearance: none;
  min-width: 16px;
  background-image: url("chrome://global/skin/scrollbar/scroll-thumb-horiz.gif");
}

thumb[orient="horizontal"]:hover:not([disabled="true"]) {
  background-image: url("chrome://global/skin/scrollbar/scroll-thumb-horiz-hover.gif");
}

thumb[orient="horizontal"][disabled="true"] {
  background-image: url("chrome://global/skin/scrollbar/scroll-thumb-horiz-disabled.gif");
}

/* ::::: scrollbar button ::::: */

scrollbarbutton {
  background: #CCCCDD no-repeat 50% 50%;
  min-width: 16px;
  min-height: 16px;
}

scrollbarbutton:hover:active,
scrollbarbutton[active="true"] {
  border-color: #6A6A6A;
  background-position: 60% 60%;
}

/* ::::: square at the corner of two scrollbars ::::: */

scrollcorner { 
  /* XXX -moz-appearance: scrollcorner; */
  -moz-binding: url(chrome://global/content/bindings/scrollbar.xml#scrollbar-base);
  width: 16px;
  cursor: default;
  background-color: #CCCCDD;
}

/* ..... increment .... */

scrollbarbutton[type="increment"] {
  -moz-appearance: none;
  background-image: url("chrome://global/skin/arrow/arrow-rit.gif");
}

scrollbarbutton[type="increment"]:hover {
  -moz-appearance: none;
  background-image: url("chrome://global/skin/arrow/arrow-rit-hov.gif");
}

scrollbarbutton[type="increment"][disabled="true"] {
  background-image: url("chrome://global/skin/arrow/arrow-rit-dis.gif");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
  -moz-appearance: none;
  background-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"]:hover {
  -moz-appearance: none;
  background-image: url("chrome://global/skin/arrow/arrow-dn-hov.gif");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"][disabled="true"] {
  background-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif");
}

/* ..... decrement .... */

scrollbarbutton[type="decrement"] {
  -moz-appearance: none;
   background-image: url("chrome://global/skin/arrow/arrow-lft.gif");
}

scrollbarbutton[type="decrement"]:hover {
  -moz-appearance: none;
   background-image: url("chrome://global/skin/arrow/arrow-lft-hov.gif");
}

scrollbarbutton[type="decrement"][disabled="true"] {
   background-image: url("chrome://global/skin/arrow/arrow-lft-dis.gif");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
  -moz-appearance: none;
   background-image: url("chrome://global/skin/arrow/arrow-up.gif");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"]:hover {
  -moz-appearance: none;
   background-image: url("chrome://global/skin/arrow/arrow-up-hov.gif");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"][disabled="true"] {
   background-image: url("chrome://global/skin/arrow/arrow-up-dis.gif");
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::: MEDIA PRINT :::::::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media print {
  /* ::::: scrollbar ::::: */

  html|div scrollbar {
    -moz-appearance: none;
    -moz-binding: url("chrome://global/content/bindings/scrollbar.xml#scrollbar");
    cursor: default;
    background: url("chrome://global/skin/scrollbar/slider.gif") scrollbar;
  }

  html|div scrollbar[orient="vertical"] 
  {
     -moz-appearance: none;
  }

  /* ::::: borders for thumb and buttons ::::: */

  html|div thumb,
  html|div scrollbarbutton {
    border: 1px solid;
    border-color: #ECECEC #6A6A6A #6A6A6A #ECECEC;
    background-color: #CCCCDD;
  }

  /* ::::: thumb ::::: */

  html|div thumb {
    -moz-appearance: none;
    min-height: 16px;
    background-image: url("chrome://global/skin/scrollbar/scroll-thumb-vert.gif");
  }

  html|div thumb[orient="horizontal"] {
    -moz-appearance: none;
    min-width: 16px;
    background-image: url("chrome://global/skin/scrollbar/scroll-thumb-horiz.gif");
  }

  /* ::::: scrollbar button ::::: */

  html|div scrollbarbutton {
    background: #CCCCDD no-repeat 50% 50%;
    min-width: 16px;
    min-height: 16px;
  }

  html|div scrollbarbutton:hover:active, html|div scrollbarbutton[active="true"] {
    border-color: #6A6A6A;
    background-position: 60% 60%;
  }

  /* ..... increment .... */

  html|div scrollbarbutton[type="increment"] {
    -moz-appearance: none;
    background-image: url("chrome://global/skin/arrow/arrow-rit.gif");
  }

  html|div scrollbarbutton[type="increment"][disabled="true"] {
    background-image: url("chrome://global/skin/arrow/arrow-rit-dis.gif");
  }

  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
    -moz-appearance: none;
    background-image: url("chrome://global/skin/arrow/arrow-dn.gif");
  }

  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="increment"][disabled="true"] {
    background-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif");
  }

  /* ..... decrement .... */

  html|div scrollbarbutton[type="decrement"] {
    -moz-appearance: none;
     background-image: url("chrome://global/skin/arrow/arrow-lft.gif");
  }

  html|div scrollbarbutton[type="decrement"][disabled="true"] {
     background-image: url("chrome://global/skin/arrow/arrow-lft-dis.gif");
  }

  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
    -moz-appearance: none;
     background-image: url("chrome://global/skin/arrow/arrow-up.gif");
  }

  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"][disabled="true"] {
     background-image: url("chrome://global/skin/arrow/arrow-up-dis.gif");
  }

}
