/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== button.css =====================================================
  == Styles used by the XUL button element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* :::::::::: button :::::::::: */

button {
  -moz-appearance: none;
  margin: 1px 5px 2px 5px;
  min-width: 6.3em;
  border: 1px solid;
  border-color: #ECECEC #6A6A6A #6A6A6A #ECECEC;
  background-color: #CCCCDD;
  color: #000;
  text-shadow: none;
}

.button-box {
  border: 1px solid transparent;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-inline-start: 3px;
  padding-inline-end: 4px;
}

.button-text {
  margin: 0 !important;
  text-align: center;
}

/* .......... focused state .......... */

button:-moz-focusring > .button-box {
  border: 1px dotted ThreeDDarkShadow;
}

/* .......... default state .......... */

button[default="true"] {
  border-color: #ECECEC #6A6A6A #6A6A6A #ECECEC;
}

button[default="true"] > .button-box {
  font-weight: bold;
  -moz-box-direction: reverse;
  list-style-image: url("chrome://global/skin/arrow/return.gif");
}

button[default="true"][disabled="true"] > .button-box {
  list-style-image: url("chrome://global/skin/arrow/return-dis.gif");
}

button[default="true"] > .button-box > .button-icon {
  margin-inline-start: 2px;
}

/* .......... hover/open state .......... */

button[open="true"] > .button-box .button-text,
button:hover:not([disabled="true"]) > .button-box .button-text {
  color: #333366;
  text-decoration: underline;
}

/* .......... active/open/checked state .......... */

button:hover:active:not([disabled="true"]),
button[open="true"],
button[checked="true"]:not([disabled="true"]) {
  border-color: #6A6A6A #ECECEC #ECECEC #6A6A6A;
}

button:hover:active:not([disabled="true"]) > .button-box .button-text {
  color: #333366;
  text-decoration: none;
}

/* .......... disabled state .......... */

button[disabled="true"] {
  border-color: #6A6A6A;
  color: #6A6A6A;
  text-shadow: 1px 1px #ECECEC;
}

button[disabled="true"] > .button-box {
  padding-top: 1px !important;
  padding-bottom: 2px !important;
  padding-inline-start: 3px !important;
  padding-inline-end: 4px !important;
}

/* ::::: menu/menu-button buttons ::::: */

button[type="menu-button"] {
  margin: 0;
  background-color: transparent;
  border: none;
}

.button-menu-dropmarker {
  -moz-appearance: none !important;
  margin: 1px;
  background-color: transparent;
  border: none;
  width: 11px;
  height: 11px;
}

.button-menubutton-dropmarker {
  margin: 1px 5px 2px -5px;
}

/* ::::: plain buttons ::::: */

button.plain {
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}

button[type="disclosure"] {
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  -moz-appearance: none;
  list-style-image: url("chrome://global/skin/tree/twisty-clsd.png");
  min-width: 0px !important;
  background-color: transparent;
}

button[type="disclosure"][open="true"] {
  list-style-image: url("chrome://global/skin/tree/twisty-open.png");
}
