/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== checkbox.css ===================================================
  == Styles used by the XUL checkbox element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: checkbox ::::: */

checkbox {
  -moz-appearance: none;
  -moz-box-align: center;
  margin: 2px 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-inline-start: 4px;
  padding-inline-end: 2px;
}

.checkbox-label-box {
  margin-inline-start: 2px;
  border: 1px solid transparent;
  padding: 0px 1px;
}

.checkbox-icon {
  margin-inline-end: 2px;
}

.checkbox-label {
  margin: 0 !important;
}

/* ..... focused state ..... */

checkbox:-moz-focusring > .checkbox-label-box {
  border: 1px dotted ThreeDDarkShadow;
}

/* ..... disabled state ..... */

checkbox[disabled="true"] > .checkbox-check {
  border-color: #6A6A6A;
}

checkbox[disabled="true"] {
  color: #6A6A6A;
  text-shadow: 1px 1px #ECECEC;
}

/* ::::: checkmark image ::::: */

.checkbox-check {
  -moz-appearance: none;
  -moz-box-align: center;
  border: 1px solid;
  border-color: #6A6A6A #ECECEC #ECECEC #6A6A6A;
  min-width: 13px;
  min-height: 13px;
  background: #CCCCDD no-repeat 50% 50%;
}

/* ..... checked state ..... */

checkbox[checked="true"] > .checkbox-check {
  background-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

checkbox[checked="true"][disabled="true"] > .checkbox-check {
  background-image: url("chrome://global/skin/checkbox/cbox-check-dis.gif") !important
}
