/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

richlistbox {
  -moz-appearance: none;
  margin: 2px 4px;
  border: 1px solid;
  border-color: #6A6A6A #ECECEC #ECECEC #6A6A6A;
  background-color: #fff;
  color: #000;
}

richlistbox[disabled="true"] {
  color: #6A6A6A;
}

richlistitem[selected="true"] {
  background-color: #808080;
  color: #fff;
}

richlistbox:focus > richlistitem[selected="true"] {
  background-color: #666699;
  color: #fff;
}

richlistbox[seltype="multiple"]:focus > richlistitem[current="true"] {
  outline: 1px dotted #666699;
  outline-offset: -1px;
}

richlistbox[seltype="multiple"]:focus > richlistitem[current="true"][selected="true"] {
  outline: 1px dotted #F3D982; /* TODO: find a suitable system color */
}

